<div>
  <div class ="we-hand-summary mt-1">
    <span class="pr-2"><%= "#{@west.distribution_summary}" %> </span>
  </div>
  <div class ="we-hand-summary mt-1">
    <span class="points"><%= @west.points %></span>
  </div>
</div>

<div class ="d-flex flex-column hand-W">
  <% @west.group_by_suit.each do |suit_group| %>
     <div class="d-flex">
       <% suit_group.each do |c| %>
          <div class="kard-container"> <%= image_tag( "#{c.to_s}.png", class: 'kard') %> </div>
       <% end %>
     </div>
  <% end %>
</div>
